<article class="c-rules-menu">
    <h1 class="heading lg c-rules-menu__header">RULES</h1>
    <div class="c-rules-menu__objective">
        <h3 class="heading sm c-rules-menu__objective-header" [style.color]="'--primary-purple1' | cssvariable">OBJECTIVE</h3>
        <p class="body-text">Be the first player to connect 4 of the same colored disc in a row (either vertically, horizontally, or diagonally)</p>
    </div>
    <div class="c-rules-menu__rules"> 
        <h3 class="heading sm" [style.color]="'--primary-purple1' | cssvariable">HOW TO PLAY</h3>
        <ol>
            <div *ngFor="let rule of rules; index as i" class="c-rules-menu__rules-bullets"><span [style.font-weight]="'bold'">{{i+1}}</span><span class="c-rules-mnu">{{rule}}</span></div>
        </ol>
    </div>
</article>
<div class="c-rules-menu__check">
    <app-check-button></app-check-button>
</div>


