<app-pause-menu *ngIf="isPaused"></app-pause-menu>
<main class="p-game-board">
    <app-board-header></app-board-header>
    <div class="p-game">
        <div class="p-game__small">
            <app-player-card [player]="1" [currentWins]="getPlayer1WinState()"></app-player-card>
            <app-player-card [player]="2" [isComputer]="isComputer" [currentWins]="getPlayer2WinState()"></app-player-card>
        </div>
        <app-player-card class="p-game__large-player-cards" [player]="1" [currentWins]="getPlayer1WinState()"></app-player-card>
        <app-game-board></app-game-board>
        <app-player-card class="p-game__large-player-cards" [player]="2" [isComputer]="isComputer" [currentWins]="getPlayer2WinState()"></app-player-card>
    </div>
    <app-game-timer *ngIf="!didWin && !didTie"></app-game-timer>
    <app-win-menu *ngIf="didWin || didTie"></app-win-menu>
    <app-board-footer></app-board-footer>
</main>
