.p-game-board {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 375px) {
    .p-game-board {
        background-color: var(--primary-purple2);
    }
}

@media (min-width: 376px) {

    .p-game-board {
        background-color: var(--primary-purple2);
    }
    
}