<main class="p-game-board">
    <app-board-header></app-board-header>
    <div class="p-game">
        <div class="p-game__small">
            <app-player-card></app-player-card>
            <app-player-card [isPlayer1]="false"></app-player-card>
        </div>
        <app-player-card class="p-game__large-player-cards"></app-player-card>
        <app-game-board></app-game-board>
        <app-player-card class="p-game__large-player-cards" [isPlayer1]="false"></app-player-card>
    </div>
    <app-game-timer *ngIf="!currentGame.didWin"></app-game-timer>
    <app-win-menu *ngIf="currentGame.didWin"></app-win-menu>
</main>
