.c-menu-button {
    color: var(--primary-black);
    width: 400px;
    height: 72px;
    border: 3px solid black;
    border-radius: 20px;
    box-shadow: 0px 10px var(--primary-black);
    padding: 13px 17px;

    &:hover {
        box-shadow: 0px 10px var(--primary-purple1);
    }
}

.white {
    background-color: var(--primary-white);
}

.yellow {
    background-color: var(--primary-yellow);
}

.red:hover {
    background-color: var(--primary-red);
}

.l-menu-button {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &.center {
        justify-content: center;
    }
}

@media (max-width: 550px) {
    
    .c-menu-button {
        width: 250px;
    }
}