:host {
    margin-top: -40px;
}



.c-game-timer {
    position: relative;
    z-index: 3;
    width: 191px;
    height: 150px;
    border-radius: 20px;
    box-shadow: 0px 10px var(--primary-black);
    background-size: cover;
}

.c-game-timer--player-1 {
    color: var(--primary-white);
    background-image: url('/assets/images/timer-red.svg');
}

.c-game-timer--player-2 {
    color: var(--primary-black);
    background-image: url('/assets/images/timer-yellow.svg');
}

.c-game-timer__text {
    padding-top: 42px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.c-game-timer__heading--1 {
    font-size: 56px;
    line-height: 71px;
}

.c-game-timer__heading--4 {
    font-size: 16px;
    line-height: 21px;
    text-align: center;
}

@media (max-width: 767px) {
    :host {
        margin-top: -15px;
    }

    .c-game-timer {
        position: relative;
        z-index: 3;
        width: 95px;
        height: 95px;
        border: 3px solid black;
        border-radius: 50%;
        box-shadow: 0px 5px var(--primary-black);
        background-size: cover;
    }
    
    .c-game-timer--player-1 {
        color: var(--primary-white);
        background-image: none;
        background-color: var(--primary-red);
    }
    
    .c-game-timer--player-2 {
        color: var(--primary-black);
        background-image: none;
        background-color: var(--primary-yellow);
    }

    .c-game-timer__text {
        padding-top: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .c-game-timer__heading--1 {
        text-align: center;
        font-size: 24px;
        line-height: 31px;
    }
}